<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Odin Landing Page</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div class="top">
            <div class="header">
                <p class="logo">Header Logo</p>
                <div class="links">
                    <a href="#">header link one</a>
                    <a href="#">header link two</a>
                    <a href="#">header link three</a>
                </div>
            </div>
            <div class="first">
                <div class="first-container">
                    <h1 class="first-header">Cafe City</h1>
                    <p class="first-header-subtext">This website contains recipes for famous coffee drinks recognized around the world. 
                        Take a stroll in the fragrant abode of Cafe City!</p>
                    
                    <h1 class="first-header">URL Shortener</h1>
                    <form method="POST" action="{{url_for('index')}}">
                        <input type="url" name ='long_url' placeholder="Enter the long URL" required>
                        <button type="'Submit">Shorten</button>
                    </form>
                    
                </div>
                <div class = 'images-first'>
                    <img src="{{ url_for('static', filename='images/intro_latte.jpg') }}" alt="Image of latte">
                </div>
            </div>
        </div>
        <div class="second">
            <h1 class="second-header">Cafe Selection</h1>
            <div class="images-second">
                <div class="image-subtext">
                    <img src="{{ url_for('static', filename='images/cappuccino.jpg') }}" alt="Image of latte">
                    <p>Classic Cappuccino</p>
                </div>
                <div class="image-subtext">
                    <img src="{{ url_for('static', filename='images/espresso.jpg') }}" alt="Image of latte">                
                    <p>Rich Espresso</p>
                </div>
                <div class="image-subtext">
                    <img src="{{ url_for('static', filename='images/machiatto.jpg') }}" alt="Image of latte">                    
                    <p>Warm Machiatto</p>  
                </div>
                <div class="image-subtext">
                    <img src="{{ url_for('static', filename='images/mocha.jpg') }}" alt="Image of latte">                    
                    <p>Molten Mocha</p>
                </div>
            </div>
        </div>

        <div class="third">
            <p class="quote">Coffee is Life</p>
            <p class="quoter">-A Wise Man</p>
        </div>

        <div class="fourth">
            <div class="fourth-text">
                <p  class="fourth-header">Call to action! It's time!</p>
                <p class="fourth-subtext">Sign up for our product by clicking that button right over there!</p>
            </div>
            <button class="fourth-button"> Sign-up</button>

        </div>
        <div class="footer">
            <p> Copyright © The Odin Project 2023 </p>
        </div>
    </body>
</html>